/* .leftNav{ */
    /* border: 1px solid red; */
    /* padding: 40px; */
    /* width: 14%; */
    /* box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; */
    /* padding: 15px; */
/* } */
.a-section{
    /* border: 1px solid green; */
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.n-title h1{
    font-size: 14px;
    font-weight: 900;
}
.a-unordered-list{
    /* border: 1px solid red; */
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* padding-left: 20px; */
    padding-top: 8px;
}
.a-spacing-micro{
    /* padding-top: 6px; */
    /* border: 1px solid green; */
    font-size: 14px;
}
.a-list-item1{
    font-weight: bold;
}
.aok-offscreen:hover, .a-list-item:hover{
 color: #ff8400;
}